.form-card {
  background-color: transparent !important;
  color: white !important;
  border-radius: 30px !important;
  padding: 20px !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) !important;
}

.form-control {
  color: black !important;
  border: 1px solid #0f172a !important;
  font-weight: 100;
}

.detail-card {
  backdrop-filter: blur(10px) !important;
}

.detail-body {
  background-color: #0f172a;
  background: #0f172a;
  color: wheat;
}

.detail-body Button {
  margin-left: 200px;
  background-color: red;
}

.detail-body Button:hover {
  background-color: #0f172a !important;
  border-color: red !important;
  color: red !important;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}